@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Playfair+Display:wght@500;600;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  background-color: #f4f4f4;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.nav{
  width: 100%;
  height: 4rem;
  align-items: center;
  border-bottom: 2px solid #f1f1f1;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 1rem 4rem;
  z-index: 1000;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 4px 8px 0 rgba(155, 155, 155, 0.2),
    0 6px 20px 0 rgba(163, 163, 163, 0.19);
  .logo {
    padding: 15px 0;
  }
  h3 {
    color: black;
    margin-bottom: 1rem;
    &:hover {
      color: #f60157;
      font-weight: 500;
    }
    a:hover {
      color: #f60157;
      font-weight: 500;
    }
  }
}

.mainHero {
  padding-top: 14rem;
  padding-bottom: 12rem;
  h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-left: 4rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    span:hover {
      color: #f60157;
    }
  }
  h3 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: lighter;
    margin-left: 4rem;
    padding-right: 4rem;
  }
  h4 {
    color: #f60157;
    letter-spacing: -1px;
    margin-left: 4rem;
    margin-top: 4rem;
    font-size: 1.3rem;
    font-weight: 500;
    a{
      background-color: black;
      color: white;
      padding: .5rem 1rem;
      border-radius: 4px;
    }
    a:hover {
      background-color: #f60157;
    }
  }
  .hero-btn {
    margin-left: 4rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: bolder;
  }
}

.myProjects {
  padding-top: 5rem;
  h5 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .latestProject {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 100;
    }
  }
  .aboutProject {
    margin-top: 12rem;
    margin-left: 22rem;
    h3 {
      font-weight: 800;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color: #f60157;
    }
    h4 {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 2rem;
    }
  }
  .ourTeam{
    margin-bottom: 5rem;
    h3 {
      margin-top: 5rem;
      font-weight: 800;
      font-size: 1.4rem;
      margin-bottom: 1rem;
      color: #f60157;
    }
    h5{
      font-weight: 300;
      font-size: 1rem;
      padding-right: 2.5rem;
      line-height: 1.5rem;
    }
    h4{
      margin-top: 2rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    .protraImage{
      width: 100%;
      border-radius: 3px;

    }
    .techs{
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
      .tech{
        width: 40px;
        height: 40px;
        margin-right: 1rem;
      }
    }
  }
  .protraImg {
    margin: 15rem 0 6rem 0;
  }
}

.footer {
  h2 {
    color: #f60157;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 800;
  }
  .socialMedia {
    display: flex;
    h3 {
      font-size: 1.8rem;
      margin-right: 1rem;
      font-weight: lighter;
      margin-bottom: 4rem;
      a:hover {
        color: #f60157;
        font-weight: 500;
      }
    }
  }
  .copyright {
    h5 {
      font-size: 1rem;
      font-weight: 100;
      margin-bottom: 2rem;
      strong {
        font-weight: 900;
      }
    }
  }
}

.aboutMe {
  padding-top: 10rem;
  padding-left: 10rem;
  padding-right: 4rem;
  width: 100%;
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.5rem;
    margin-top: 2rem;
  }
}

.letsConnect {
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding-left: 12rem;
  .icons{
    margin-top: 2rem;
    align-items: center;
    display: flex;
      margin-bottom: 2rem;
      a {
        margin-right: 1rem;
      }
    }
  h1 {
    font-size: 2rem;
    margin: 1rem 0;
    color: #f60157;
  }
  h4 {
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  h2 {
    margin-top: 1rem;
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: 1px;
    a {
      color: rgb(114, 114, 114);
    }
    a:hover {
      color: #f60157;
    }
  }
}


.reachOut {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-left: 12rem;
  .education{
    h1{
      font-size: 1.8rem;
    }
    h4{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 1rem;
    }
    p{
      font-weight: 300;
    }
  }
  .courses{
    margin-bottom: 3rem;
    h1{
      font-size: 1.8rem;
      margin-top: 3rem;
    }
    h4{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
    p{
      font-weight: 300;
      margin-bottom: .5rem;
      padding-right: 1rem;
    }
  }
  
  .skills {
    padding-right: 7rem;
    h1 {
      font-size: 1.8rem;
    }
    .coding {
      margin-top: 1rem;
      margin-bottom: 2rem;
      h3 {
        font-weight: 300;
      }
    }
  }
  .codingChild {
    flex-wrap: wrap;
    display: flex;
    margin-top: 0.5rem;
    p {
      margin-right: 0.5rem;
      margin-top: 0.5rem;
    }
  }
}

.tagsButton {
  display: inline-block;
  border: 1px solid #dedede;
  border-radius: 16px;
  padding: 0.25em 1em;
  margin-bottom: 5px;
  margin-right: 2px;
  line-height: 1.5em;
  font-weight: 300;
  color: #000;
}

.tagsButton:hover {
  background-color: #f60157 !important;
  color: #f8f8f8 !important;
}

.linkProject {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  a {
    align-items: center;
  }
  h5 {
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-weight: lighter;
  }
}

.backTop {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 3rem;
  font-weight: 300;
  svg {
    font-weight: 300;
    margin-right: 2.5rem;
    margin-bottom: 0.5rem;
    color: rgb(77, 77, 77);
    a:hover {
      color: rgb(116, 116, 116);
    }
  }
}

.myImg {
  margin-left: 4rem;
  margin-top: 1rem;
  border-radius: 5px;
  width: 60%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

//responsive
@media (max-width: 575.98px) {
  html,
  body {
    font-size: 12px;
  }
  .mainHero {
    padding-top: 7rem;
    h1 {
      margin-left: 0;
    }
    h3 {
      margin-left: 0;
      padding-right: 0rem;
    }
    h4 {
      margin-left: 0;
    }
    .desc {
      justify-content: space-between;
    }
  }

  .myProjects {
    padding-top: 5rem;
    .latestProject {
      margin-top: 2rem;
      h3 {
        margin-top: 1rem;
      }
    }
    .aboutProject {
      margin-top: 2rem;
      margin-left: 0rem;
      h3 {
        font-weight: 800;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: #f60157;
      }
      h4 {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 2rem;
      }
    }
    .protraImg {
      margin: 2rem 0 4rem 0;
    }
  }
  .myImg {
    display: none;
  }

  .linkProject {
    svg {
      font-size: 25px !important;
    }
  }
  .backTop {
    display: none;
  }

  .aboutMe {
    padding: 7rem 0 5rem 0;
    width: 100%;
    h1 {
      font-size: 2.5rem;
    }
  }

  .reachOut {
    margin: 0;
    padding:0 1rem;
  }

  .letsConnect {
    padding-left: 0;
    padding: 0 1rem;
    .icons{
      svg{
        font-size: 35px !important;
      }
      }
    h2 {
      font-size: 1.3rem;
    }
  }
 
  header{
    padding-left: 1rem;
    .h3{
      font-size: 10px;
    }
    .right-side{
      flex-flow: column nowrap;
      background-color: rgb(216, 216, 216);
    }
  }

  .videoProtra{
    height: 20vh !important;
    .youtubeProtra{
      height: auto;
      width: auto;
    }
  }

  .ourTeam{
    h3, h4, h5{
      font-size: 18px !important;
    }
  }

  .protraImage{
    padding: 0 !important;
  }
}

@media (max-width: 991.98px) { 
  html,
  body {
    font-size: 14px;
  }
  .mainHero{
    padding-bottom: 2rem;
    padding-top: 6rem;
    .myImg{
      padding-top: 3rem;
    }
  }
 }